//GOOGLE FONTS
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

//VARIABLES
$primaryColor: #678e3e;
$primaryColorLight: #beed8c;
$secondaryColorDark: #102a42;
$secondayColor: #617d98;
$secondaryColorLight: #f1f5f8;
$white: #fff;
$primaryFont: "Catamaran", sans-serif;
$secondaryFont: "Grand Hotel", cursive;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;

//RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//GLOBAL STYLES
body {
    font-family: $primaryFont;
    background: $white;
    color: $secondaryColorDark;
    line-height: 1.5;
    //font set for mobile first (14px)
    font-size: 0.875rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    letter-spacing: $spacing;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
}


//GLOBAL STYLES MOBILE
@media screen and (min-width: 800px){
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}

//MORE GLOBAL CSS
.btn {
    text-transform: uppercase;
    background: $primaryColor;
    color: $white;
    padding: 0.75rem 1rem;
    letter-spacing: $spacing;
    display: inline-block;
    font-weight: 700;
    transition: $transition;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    &:hover {
        color: $primaryColor;
        background: $primaryColorLight;
    }
}

.clearfix::after, .clearfix::before {
    content: "";
    //to start elements on a new line, because float just keeps everything inline
    clear: both;
    display: table; 
}

//HEADER
.header {
    min-height: 100vh;
    // create an overlay over the background image so its not so bright
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url(../images/main-bcg.jpeg) center/cover no-repeat fixed;
    // to center header text since were using float
    position: relative;
    // set this for animation
    overflow-x: hidden;

    .banner {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        // to center text
        transform: translate(-50%, -50%);
    
        h2 {
            font-family: $secondaryFont;
            color: $primaryColor;
            // animation
        }
    
        h1 {
            color: $white;
            text-transform: uppercase;
            margin: 1.25rem 0 2rem 0;
            // animation
        }
    
        .banner-btn {
            outline: 0.125rem solid $primaryColor;
            outline-offset: 0.25rem;
            font-size: 1.25rem;
            padding: 1rem 1.75rem;
        }
    }
}



//CONTENT DIVIDER
.content-divider {
    height: 0.5rem;
    background: linear-gradient(to left, $primaryColor, #e9b949, $primaryColor);
}

//SKILLS
.skills {
    background: $secondaryColorLight;

    .skill {
        padding: 2.5rem 0;
        text-align: center;
        transition: $transition;

        &:hover {
            background: $white;
            box-shadow: 0 2px $primaryColor;
            // border-bottom: 2px solid $primaryColor;

            .skill-icon {
                transform: translateY(-5px);
            }
        }

        .skill-icon {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
            transition: $transition;
            // make this display block because span is an inline-element so the margin set above isnt respected
            display: inline-block;
            color: $primaryColor;
        }
    
        .skill-text {
            color: $secondayColor;
            max-width: 17rem;
            margin: 0 auto;
        }
    }
}

//MEDIA QUERIES
@media screen and (min-width: 576px){
    .skill {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .skill {
        width: 25%;
    }
}
